# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = school_list.settings

[deploy:school]
url = http://127.0.0.1:6800/
project = school_list


[deploy:train]
url = http://127.0.0.1:6800/
project = school_list
